html {
  --background-color: rgb(55 54 71);
  background-color: var(--background-color);
  height: 100vh;
}

body {
  margin: 0;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  overflow: scroll;

  display: grid;
  grid-template-areas:
    "controls"
    "board"
    "pool";
  grid-template-rows:
    auto
    1fr
    auto;
}

button {
  all: unset;
}

#pool {
  grid-area: pool;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;
  flex-direction: row;
  align-items: center;
  border-top: 2px solid white;
}

#pool::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 1vh;
  background-color: lightgray;
  border-radius: 5px;
}

#pool::-webkit-scrollbar-thumb {
  background: rgb(127, 125, 125);
  border-radius: 5px;
}

#pool .piece {
  height: 10vh;
}

#board {
  grid-area: board;
  touch-action: none;
  justify-content: center;
  width: 100vw;
  justify-self: center;
}

#board .piece {
  /* border: 2px solid gray; */
  position: absolute;
  /* top and left are set during component rendering */
}

#controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: controls;
  width: 100%;
  height: 5vh;
  border-bottom: 2px solid white;
}

#controls > button {
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: 5vw;
  height: 5vh;
  background-color: transparent;
  padding: 1px 6px;
}

#settingsButton {
  background-image: url("./images/icons/settings.svg");
}

#newGameButton {
  background-image: url("./images/icons/new_game.svg");
}

#heartButton {
  background-image: url("./images/icons/heart.svg");
}

#installButton {
  background-image: url("./images/icons/install.svg");
}
